/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 90%;
  border: 3px solid #ffd24a;
  background-image: url(img/bg.jpg);
  background-color: #dddddd;
  margin: auto auto 0 3px;
}
#site_header {
  background-color: #ff8523;
  padding: 50px 0px;



}

.main_navigation {
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  justify-content: space-between;
}
.main_navigation a {
  font-family: Ariel;
  padding: 15px 180px;
  text-decoration: none;
  color: #eee;
  border: 1.5px solid white;
  border-radius: 5px;

}
#page_content {
  padding: 20px;
  background: white;
  margin: 2px;
}

#page_content > section {
  border: 3px solid white;
  padding: 25px;
}

h2, h3, a{
  color: #1fabe5;
}

ul {
  font-weight: bold;
}

table {
  margin: 0;
  border-spacing: 0px;
}

td {
  padding: 1px;
  border: 1px solid #046c97;
}

table thead {
  background-color: #1fabe5;
  color: white;

}

table thead td {
  color: white;
  border: 3px;
}

td img: {
  width: 50px;
  text-align: center;
  margin: 2px;
  padding: 2px;
}

form {
  padding: 3px;
  background: #eee;
  margin: 20px;
  border-radius: 20px;
}
